
  /* For School Component */
  .schoolDisc {
    display: flex;
    flex-direction: row-reverse;
    /* background-color: lightgreen; */
    padding: 20px;
    margin-bottom: 20px; /* Add margin-bottom to create space */
    border-inline-start-style: inset;
  }
  
  .schoolDisc .image {
    margin-right: 20px;
  }
  
  .schoolDisc .image img {
    width: 20pc;
    height: 20pc;
    object-fit: cover; /* Adjust the image aspect ratio */
    border-radius: 10px;
  }
  .schoolDisc .image img:hover {
    transform: scale(1.1); /* Increase the scale value as desired */
  }
  .schoolDisc h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .schoolDisc h4 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .schoolDisc p {
    font-size: 14px;
    margin-bottom: 0;
    padding-top: 30px;
  }